.slot {
    border: 2px solid white;
    padding: .5rem;
    margin: .35rem;
    height: 6rem;
    overflow: scroll;
}

.slot-item {
    img {
        width: 25px;
        height: 25px;
        margin-bottom: .15rem;
        margin-top: .15rem;
    }
}